p {
    color: black;
}

form {
    margin-top: 200px;
}

/* :invalid {
    border: 1px solid red;
} */

.input {
    display: inline-block;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    border: 1px solid #ced4da;
}

.form-control {
    position: relative;
    margin-bottom: 5px;
}

.form-error {
  position: absolute;
  padding: 5px 10px;
  width: 200px;
  background: #fff;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
  z-index: 999;
}


/*кнопка*/
body {
    justify-content: center;
    align-items: center;
    display: flex;
}

.main {
    margin-top: 200px;
    width: 600px;
    height: 600px;
}

.popoverButton {
    background-color: red; 
    color: white; 
    cursor: pointer; 
    border: none;
    border-radius: 10px;
    width: 175px;
    height: 50px;
}

.hidden {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    top: 115px;
    font-size: 14px;
    width: 175px;
    height: 61px;
}

h2 {
    font-size: 15px;
    background-color: rgb(246, 243, 243);
}